body {
    background-color: white;
    height: 100vh;
}

ul {
    list-style-type: none;
}

img {
    width: 450px;
    height: 450px;
    border: 10px solid black;
}

.center {
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: red;
    text-align: center;
    padding-top: 2%;
}

.container {
    padding: 0px 50px;
}

footer {
    text-align: right;
}

p {
    text-align: center;
}